

/* OUR OWN CODE */

.mainDiv {
  background: #cecece;
}

.mapDiv {
  width: 60%;
  background-color: white;
  float: left;
  margin: 5px;
}

#mapimage {
  width: 100%;
}

.listDiv {
  width: 35%;
  background-color: white;
  float: right;
  padding: 20px;
  margin: 5px;
}

.drone {
  padding: 10px 0px;
}