<div class="mainDiv clearfix">
  <div class="mapDiv">
      <ui-gmap-google-map center='map.center' zoom='map.zoom'>
       <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        </ui-gmap-marker>
  </ui-gmap-google-map>

  </div>

  <div class="listDiv">
    <h1 class="mainTitle">Fire Drones</h1>
    <div class="drone" ng-repeat="drone in drones" ng-click="showDrone(drone)">
      <div class="name styles">
        <strong>{{drone.id}}</strong>
      </div>
      <div class="position styles">
        <p>Position: {{drone.posX}}, {{drone.posY}}</p>
        <p>Area:</p>
      </div>
    </div>
  </div>
</div>
